@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AWE_SS18_Gruppe_1.Models.Thesis>

@{
    ViewBag.Title = "Index";
}

<h2>Übersicht über die bewerteten Thesen</h2>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Programme.Name)
        </th>
        <th>
            @Html.ActionLink("Betreuer", "Index", new { sorting = ViewBag.NameSortParm })
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.First().StudentName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.First().Registration)
        </th>
        <th>
            @Html.ActionLink("Abgabedatum", "Index", new { sorting = ViewBag.DateSortParm })
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.First().Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Programme.Name)
        </td>
        <td>
            <a href="mailto:@Html.ValueFor(modelItem => item.User.UserName)">@Html.DisplayFor(modelItem => item.User.LastName)</a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
            <a href="mailto:@Html.ValueFor(modelItem => item.StudentEmail)">@Html.DisplayFor(modelItem => item.StudentName)</a>
</td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
           
            @Html.ActionLink("Details als PDF", "DownloadPDF", new { id=item.Id }) 
            
        </td>
    </tr>
}


</table>

Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @(Model.PageCount)
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))


