@model AWE_SS18_Gruppe_1.Models.Thesis

@{
    ViewBag.Title = "Delete";
}

<h2>Löschen</h2>

<h3>Bist du sicher, dass du diese Thesis löschen möchtest?</h3>
<div>
    <h4>Thesis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Programme.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programme.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bachelor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bachelor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Master)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Master)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück zur Übersicht", "Index")
        </div>
    }
</div>
